* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

 html {
     font-size: 80%;
}

body {
     background:#48474c;
     color: white;
     font-family: Helvetica, Arial, sans-serif;
     font-size: 1.6rem;
     display: flex;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
}

#guesses {
    margin-bottom: 20px;
}

 .button {
     background: navy;
     border: 1px solid; 
     border-radius: 10px;
     cursor: pointer;
     color: white;
     outline: none;
     font-size: 1.4rem;
     font-weight: 300;
     padding: .8rem;
     transition: background .3s ease, color .3s ease;
}

 span {
     border-bottom: 3px solid navy;
     display: inline-block;
     font-size: 2rem;
     height: 4rem;
     line-height: 4rem;
     margin: 0 .1rem;
     text-align: center;
     text-transform: uppercase;
     width: 4rem;
}

 p {
     font-weight: 300;
     margin-bottom: 1rem;
}

 .puzzle {
     display: flex;
     margin-bottom: 5rem;
}

 .button:hover {
     background: blue;
}

.title {
    position: absolute;
    top: 10%;
    text-transform: uppercase;
}

.subtitle {
    position: absolute;
    top: 17%;
}

@media screen and (max-width: 640px) {
  #guesses {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 60%;
  margin-top: -50px;
  }
  .button {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 70%;
  margin-top: -50px;
  }
}

 